<div class="col-lg-8 mx-auto">
	<div>
		<div class="row">
			<div class="col-lg-6">
				<h2 class="display-4">{{jClock | date:'mediumDate'}}</h2>
        <h2>{{jClock | date:'mediumTime'}}</h2>
			</div>
			<div class="col">
				<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
					<div class="row">
						<div class="form-group col">
							<label for="userStartInput">Start Time</label>
                <div class="row">
                  <select class="form-control col" formControlName="userHours" >
                    <option *ngFor="let hour of hours">{{hour}}</option>
                  </select> <h3>:</h3>
                  <select class="form-control col" formControlName="userMinutes" >
                    <option *ngFor="let min of mins">{{min}}</option>
                  </select>
                  <select class="form-control col" formControlName="userPeriod" >
                    <option *ngFor="let x of periods">{{x}}</option>
                  </select>
                </div>
              <small id="startTimeHelp" class="form-text text-muted">Enter the shift start time.</small>
            </div>
          <div class="form-group col">
            <label for="userLengthInput">Shift Length</label>
            <input type="number" class="form-control" id="uLengthInput" formControlName="userShift" min="6" max="16" />
            <small id="shiftLengthHelp" class="form-text text-muted">Enter the duration of the shift.</small>
          </div>
          </div>
          <div class="row">
            <button class="alert-success col-4 mx-auto" type="submit">generate shift</button>
            <button class="col-4 mx-auto" type="button" (click)="resetShiftMaker()">clear</button>
          </div>
        </form>
      </div>
    </div>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">time</th>
          <th scope="col">interval</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows" id="{{row.id}}">
            <th scope="row">{{row.id}}</th>
            <td>{{row.time | date:'mediumTime'}}</td>
            <td>{{row.interval}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>