<div class="col-lg-8 mx-auto">
  <div>
    <div class="col-lg-6">
      <div class="container">
        <h1 class="display-4">{{jClock | date:'shortTime'}}</h1>
      </div>
    </div>
    <table class="table table-sm table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">time</th>
          <th scope="col">interval</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows" id="{{row.id}}">
            <th scope="row">{{row.id}}</th>
            <td>{{row.time | date:'shortTime'}}</td>
            <td>{{row.interval}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>